.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 40px;

    @media (min-width: 900px){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, &__sidebar{
        padding: 40px;
    }

    &__main{
        background-color: hsla(240, 94%, 27%, 0.661);
    }
    &__sidebar{
        background-color: hsla(300, 96%, 17%, 0.433);
    }
}